.mainPage {
  position: relative;
  background: url("/images/image.png") no-repeat center center / cover;
  width: 100%;
  max-width: 435px;
  min-height: 825px;
  /* min-height: 100vh; */
  margin: 0 auto;
}

.mainPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 635px;
  background: linear-gradient(180deg, #000 -50%, rgba(167, 167, 167, 0) 53%);
}
.list {
  position: relative;
  width: 100%;
  height: 100vh;
  color: beige;
  /* clip-path: inset(0 50px 0 0); */
}
.list::before {
  content: "";
  border-radius: 99% 1% 0% 100% / 52% 49% 51% 48%;

  border: 6px solid rgba(255, 255, 255, 0.75);

  border-right: none;

  opacity: 0.75;
  filter: blur(4px);

  position: absolute;
  top: 90px;
  right: 50%;
  transform: translateX(61%);
  width: 326px;
  height: 652px;
  /* overflow-x: hidden; */
}
.li1 {
  position: absolute;
  right: 60px;
  top: 68px;
  width: 104px;
  height: 104px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  backdrop-filter: blur(8.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.li2 {
  position: absolute;
  right: 165px;
  top: 152px;
  width: 126px;
  height: 126px;
  background: #e2ffa3;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  backdrop-filter: blur(11px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.li3 {
  position: absolute;
  right: 212px;
  top: 301px;
  width: 155px;
  height: 155px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  backdrop-filter: blur(8.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.li4 {
  position: absolute;
  right: 213px;
  top: 513px;
  width: 105px;
  height: 105px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  backdrop-filter: blur(8.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.li5 {
  position: absolute;
  right: 58px;
  top: 630px;
  width: 140px;
  height: 140px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  backdrop-filter: blur(8.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.li6 {
  position: absolute;
  right: 79px;
  top: 364px;
  width: 74px;
  height: 74px;
  background: #e2ffa3;
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(255 255 255);
  backdrop-filter: blur(11px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 1.5s infinite alternate ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
