.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.modal {
  position: relative;
  min-height: 360px;
  background: #dfddcc;
  padding: 35px 20px 20px 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.userData {
  padding: 5px 5px 5px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.enterButton {
  min-width: 120px;
  border-radius: 3px;
  color: var(--foreground);
  background: #e2ffa3;
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
  padding: 7px;
}
.closeButton {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 20px;
  height: 20px;
  background: #e2ffa3;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.linkOut {
  text-decoration: underline;
}

.backButton {
  margin-left: auto;
}
.attentionText {
  color: red;
  text-transform: uppercase;
  margin-top: 54px;
}
